.navbar {

    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    /* background-color: rgb(0, 0, 0); */
    /* background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 0, 0),rgb(107, 107, 107)); */
   
}
    .top {
      
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      
  .header {
    background-color: #1abc9c;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; /* Fixed height */
    box-sizing: border-box;
    
    
  }
  
  .header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  .header .user-info {
    display: flex;
    align-items: center;
  }
  
  .header .user-info span {
    margin-right: 20px;
  }
  
  .header button {
    padding: 8px 15px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: #c0392b;
  }